{% extends 'base.html' %}
{% load static %}
{% block cta %}
<div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <h1>Atención Médica Excepcional para todas las edades.</h1>
                <p> Combinando medicina de calibre mundial con cuidado y atención caritativa, sin prejuicios y con todo el profesionalismo. </p>
                    <a href="#" class="btn btn-light btn-lg action-button" type="button">Agenda una cita</a>
            </div>

        </div>
    </div>

{% endblock cta %}

{% block content %}
<section class="container py-5" id="informacion">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="display-4">Soy el Dr. Angel Villegas</h1>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <p class="lead">Rely on established and competent professionals. <br/>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed tempor volutpat dolor, id gravida risus tristique et. 
        Nulla facilisi. Nullam auctor semper turpis, sed convallis magna tempus sed.
         Fusce mollis nibh id odio pellentesque, sed ultrices nulla eleifend. 
         Nam a turpis sit amet neque lacinia condimentum. Mauris faucibus eleifend justo.
          Sed convallis elit felis, id eleifend enim aliquet in.
           Nam sagittis tellus eget ipsum rutrum, vel fringilla mi dapibus. 
           Integer condimentum lobortis consectetur. 
           Quisque euismod efficitur mauris non malesuada.
           Etiam tempor ligula ac arcu finibus, in scelerisque nulla blandit. 
           Duis sit amet dui id lacus tempus semper eu nec lacus. Curabitur convallis justo quam, a aliquam lectus eleifend vel.</p>
    </div>

    <div class="col-lg-4">
      <div class="about-images-border-outer">
        <div class="about-images-circle-1"></div>
        <div class="about-images-circle-3"></div>
        <div class="about-images-circle-2"></div>      
        <div class="about-images-border-inner">
          <img src="{% static 'img/angel.jpg' %}" alt="Angel Villegas" class="img-fluid">
        </div>    
      </div>    
    </div>
  </div>
</section><!-- End -->

<section id="servicios">
  <div class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="fw-light text-white">Mis Servicios</h1>
       <!-- <p class="overview">We provide compassionate and expert care to our community. You are at the center of everything we do. Let us be your healthcare partner.</p> -->

      </div>
    </div>
  <div class="container">
    <div class="row">

      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/general.svg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Cuidado General</h5>
            <div class="card-text">Your personalized medical professionals.</div>
          </div>
        </div>
      </div>
    
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/consulta.svg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Consulta Virtual</h5>
            <div class="card-text">Your skin care made easy.</div>
          </div>
        </div>
      </div>
    
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/emergency.svg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Cuidado de Emergencia</h5>
            <div class="card-text">Web Developer</div>
          </div>
        </div>
      </div>
    
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="{% static 'img/recetario.svg' %}" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Recetario</h5>
            <div class="card-text">Stay safe if you are at high exposure to HIV.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</section>

<section class="text-center container" id="reviews">
  <h2>Satisfied Patients</h2>
  <div class="owl-carousel owl-theme">

 <div class="item">
  <div class="img-box"><img src="{% static 'img/patient1.jpg' %}" alt=""></div>
  <p class="overview">Michael Holz</p>
  <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
</div>

<div class="item">
  <div class="img-box"><img src="{% static 'img/patient2.jpg' %}" alt=""></div>
  <p class="overview">Antonio Moreno</p>
  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum idac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>  
</div>

<div class="item">
  <div class="img-box"><img src="{% static 'img/patient3.jpg' %}" alt=""></div>
  <p class="overview">Paula Wilson</p>
  <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit.</p>  
</div>

<div class="item">
  <div class="img-box"><img src="{% static 'img/patient4.jpg' %}" alt=""></div>
  <p class="overview">Laura Smith</p>
  <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu ante eget nisl convallis tempus. Phasellus ante lectus, tincidunt tincidunt dui a, rhoncus interdum est. Sed molestie quis augue ac pulvinar. Pellentesque egoists sed tortor egestas pretium. Pellentesque commodo.</p>  
</div>

<div class="item">
  <div class="img-box"><img src="{% static 'img/patient5.jpg' %}" alt=""></div>
  <p class="overview">David Johnson</p>
  <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit.</p>  
</div>

</div>
</section>

<section id="contact" class="card m-4 p-4">
    <div class="container">
        <div class="row text-center">
          
            <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="far fa-envelope text-colored fa-3x"></i>
              <h4>Get In Touch</h4>
              <abbr title="Phone">P:</abbr> (123) 456-7890<br>
              E: <a href="mailto:email@email.com" class="text-muted">email@email.com</a>
            </div>
          </div><!-- end col -->
  
          <div class="col-sm-6">
            <div class="contact-detail-box">
              <i class="fa fa-map-marker fa-3x text-colored"></i>
              <h4>Our Location</h4>
  
              <address>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
            </address>
            </div>
          </div><!-- end col -->  
  
        </div>
        <!-- end row -->
  
  
        <div class="row">
          <div class="col-sm-6">
            <div class="contact-map">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=New+York+University&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="width: 100%; height: 360px;"></iframe>
            </div>
          </div><!-- end col -->
  
          <!-- Contact form -->
          <div class="col-lg-6">

            <div class="contact-box-title">
              <h3>Agenda Una Cita</h3>
            </div>

            <form role="form" name="ajax-form" id="ajax-form" method="post" class="form-main" action="{% url 'index' %}">
              {% csrf_token %}
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" id="name2" name="name" type="text" placeholder="Nombre y Apellido*">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                    <div class="error" id="err-name" style="display: none;">Please enter name</div>
                  </div>
                </div>                

                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" id="email2" name="email" type="text" placeholder="Correo Electrónico*">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                      </div>
                    </div>
                    <div class="error" id="err-emailvld" style="display: none;">E-mail is not a valid format</div> 
                  </div>
                </div>

              </div> <!-- /row -->
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                    <input class="form-control" id="phone" name="phone" type="text" placeholder="Número Telefónico*">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-phone"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                    <input class="form-control" id="id" name="id" type="text" placeholder="SSN">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

              </div> <!-- /row -->
              
              <div class="form-group">
                <textarea class="form-control" id="message2" name="message" rows="5" placeholder="¿Cómo te puedo ayudar?"></textarea>
                <div class="error" id="err-message" style="display: none;">Please enter a message</div>
              </div> <!-- /form-group -->
          
              <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-md" id="send">Send</button>
          
            </form> <!-- /form -->
          </div> <!-- /col-lg-6 -->
          
  
        </div> <!-- end row -->
            
      </div>
</section>


{% endblock content %}